.release_nav{
    height: 106px;
    width: 1200px;
    margin: 0px auto;
    border-top:2px solid #dcdcdc ;
    border-bottom:2px solid #dcdcdc ;
}
.release_nav_space{
    height: 10px;
    width: 100%;

}
.release_nav_sort{
    height: 46px;
    width: 1165px;
    padding: 5px 0px 5px 35px;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
}
.release_nav_sort_tit{
    height: 24px;
    width: 42px;
    margin-right: 30px;
    float: left;
    color: #333;
    font-size: 14px;
}
.release_nav_sort_all{
    height: 24px;
    margin-right: 40px;
    border: 1px solid #ec5052;
    width: 64px;
    float: left;
    color:#ec5052;
    font-weight: bold;
}
.release_nav_sort_list{
    float: left;
    height: 36px;
}
.release_nav_sort_list>li{
    height: 24px;
    border: 1px solid #fff;
    width: 70px;
    margin-right: 40px;
    margin-bottom: 10px;
    float: left;
}
.release_nav_sort_list>li>a{
    color: #3a78bf;
}
.release_timeline{
    height: 1150px;
    width: 1200px;
    margin: 0px auto;
    padding-top:20px;
}
.release_timeline_frame{
    height: 271px;
    width: 100%;
}
.release_timeline_date{
    height: 271px;
    width: 92px;
    margin-right: 36px;
    float: left;
}
.release_timeline_date div:first-child{
    height: 92px;
    width: 92px;
    background: url(../image/release_timeline.png)  0px 0px no-repeat;
}
.release_timeline_date div:first-child span{
    height: 28px;
    width: 92px;
    line-height: 28px;
    display: block;
    font-size: 12px;
    color: #fff;
    text-align: center;
}
.release_timeline_date div:first-child p{
    height: 64px;
    width: 92px;
    font-size: 36px;
    color: #8f8f8f;
    text-align: center;
    line-height: 64px;
    font-weight: bold;
}
.release_timeline_date div:last-child{
    height:179px;
    width:3px;
    margin:0px auto;
    background: #fef8c4;
}
/* 产品框 */
.release_timeline_product{
    float: left;
    border: 1px solid #dcdcdc;
    margin: 0px 12px 12px 0px ;
    height: 259px;
    width: 530px;
}
.release_timeline_product_Introduction{
height: 257px;
width: 528px;
padding: 20px 15px;
}
.release_timeline_product_Introduction img{
    height: 196px;
    width: 196px;
    margin-right: 20px;
    float: left;
    display: block;
}
.release_timeline_product_text{
    width: 282px;
    height: 100%;
    float: left;
}
.release_timeline_product_text>a{
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #2b2b2b;
    height: 72px;
    overflow: hidden;
}
.release_timeline_text_number {
    height: 24px;
    width: 282px;
    margin-top:40px ;
}
.release_timeline_text_number h3{
    float: left;
    color: #ec5051;
    font-size: 20px;
    font-weight: bold;
}
.release_timeline_text_number p{
margin-left:20px;
    color: #767676;
    line-height:32px ;
    font-size: 12px;
    float: left;
}
.release_timeline_text_number p span{
    color: red;
}
.release_timeline_countdown{
    height: 53px;
    width: 120px;
    margin-top: 28px;
    }
.release_timeline_countdown>div:first-child{
    height: 18px;
    color: #ffc33a;
    font-size: 12px;    
    width: 120px;
}
.release_timeline_countdown>div:last-child{
    height: 30px;
    width: 114px;
    padding: 0px 25px;
    margin-top: 5px;
    background: #fff;
    line-height: 28px;
    border: 1px solid #ec5051;
    font-size: 12px;
    text-align: center;
}
.release_timeline_countdown>div:last-child a{
    font-size: 12px;
    color: #ec5051; 
}
#release_timeline_product{
    margin-right:0px;
}

.release_timeline_daojishi>div{
    float: left;
}
.tempWrap1{
    width: 100%;
    height: 380px;
    background-color: #43434f;
}
.img1{
    width: 1200px;
    height: 380px;
    margin: 0 auto;
    float: none!important;
}
.img1 img{
    width: 1200px;
    height: 380px;
    margin: 0 auto;
}
.banner{
    height: 380px;
}
.footer-main{
    height: 329px!important;
}
.fm-core{
    height:329px!important;
}
.release_timeline_product_text a{
    font-size: 14px;
}
.weizhi{
    top:28px!important;
    left:-1px!important;
}
.categorys-type{
    position: relative;
}
.box1{
    top:40px;
    left:0;
    font-weight: 400;
}